body {
    margin: 0;
    border: 0;
}

:root {
    --secondary-color: #740303;
    --primary-color: rgb(245, 3, 3);
}

header {
    background-color: var(--primary-color);
    padding: 32px;
    display: flex;
    justify-content: space-between;
}

a {
    display: flex;
}

h2 {
    font-size: 24px !important;
}

p {
    margin: 0 !important;
    align-self: center !important;
    font-size: 18px;
}

input {
    height: 20px;
    margin-top: 14px !important;
}

table {
    justify-self: center;
}
.pokedex-logo {
    width: 52px;
    object-fit: cover;
}

.logo-txt {
    padding-left: 5px;
    font-weight: 900;
    text-decoration: underline var(--primary-color) !important;
    color: white;
    margin-top: 12px;
}

main {
    display: flex;
    flex-direction: column;
    padding: 90px 40px 0px 40px;
    background-color: var(--secondary-color);
    min-height: calc(100vh - 183px);
    text-align: center;
}

h1 {
    color: white;
    font-size: 60px;
    margin: 0 0 32px 0;
}

footer {
    background-color: var(--primary-color);
    text-align: center;
    padding-top: 24px;
}

.da-logo {
    margin-bottom: 16px;
    width: 180px;
}

.icon {
    height: 50px;
    width: auto;
    padding: 4px;
    margin: 0;
}

img, svg {
    vertical-align: baseline;
}

.icon-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.img-container {
    width: 100%;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-none {
    display: none;
}

.load-more-container {
    text-align: center;
    background-color: var(--secondary-color);
    padding: 60px 0;
}

.load-more-button {
    padding: 9px;
    border-radius: 8px;
    border: 0;
}