.black {
    background-color: #303030;
}

.blue {
    background-color: #3b82f6;
}

.brown {
    background-color: #92400e;
}

.gray {
    background-color: #6b7280;
}

.green {
    background-color: #005b21;
}

.pink {
    background-color: #ec4899;
}

.purple {
    background-color: #a855f7;
}

.red {
    background-color: #ef4444;
}

.white {
    background-color: #d0d0d0;
}

.yellow {
    background-color: #eab308;
}