.dialog-trigger {
    border: 3px solid black;
    margin: 8px;
    width: 200px;
    height: 250px;
    background-color: var(--primary-color);
    color: white;
    padding: 0;
    border-radius: 16px;
    z-index: -1;
}

.dialog-trigger-container .dialog-thumbnail,
.dialog-trigger .dialog-thumbnail {
    transition: transform 0.3s ease-in-out;
}

.dialog-trigger-container > div:hover .dialog-thumbnail,
.dialog-trigger:hover .dialog-thumbnail {
    transform: scale(1.2);
}

.dialog-trigger-txt {
    display: flex;
    gap: 16px;
    padding: 12px;
    border-bottom: 2px solid black;
}

.img-container {
    width: 100%;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
}

.dialog-thumbnail {
    width: 120px;
}

dialog {
    width: 400px;
    border: 0;
    border-radius: 16px;
    padding: 0;
    border: 4px solid black;
}
dialog.opened::backdrop {
    opacity: 0.8;
    background-color: black;
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 34px 34px 16px;
}

.dialog-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.dialog-img {
    padding-top: 28px;
    width: 100%;
    height: 155px;
    object-fit: contain;
}

.nav-dialog {
    width: 100%;
    display: flex;
    background-color: var(--secondary-color);
    border-radius: 16px 16px 0 0;
    margin-top: -16px;
}

.nav-dialog-btn {
    border: 0;
    background-color: transparent;
    color: white;
    width: inherit;
    padding: 0;
    position: relative;
    padding: 8px;
    font-weight: bolder;
    border-top: 2px solid black;
}
.nav-dialog-btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color:rgb(247, 7, 7);
    transform: scaleX(0);
    transform-origin: center; 
    transition: transform 0.3s ease;
}
.nav-dialog-btn:hover::after {
    transform: scaleX(1);
}

.nav-btn-left {
    border-top-left-radius: 16px;
}

.nav-btn-right {
    border-top-right-radius: 16px;
}

.icon-dialog {
    height: 42px;
    padding: 4px;
    border-radius: 100%;
    margin: 0;
    transition: 200ms all;
}
.icon-dialog:hover{
    filter: saturate(200%);
    transform: scale(1.1);
}

.img-icon-container {
    display: flex;
}

.pok-info {
    background-color: var(--secondary-color);
    height: 300px;
    color: white;
    align-content: center;
}

.dialog-footer {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    background-color: var(--secondary-color);
}

.stats-wrapper {
    padding-bottom: 16px;
    text-align: start;
    padding-left: 20px;
}

.main-wrapper {
    text-align: start;
    padding: 20px;
}

.next-presvius-btn {
    background-color: transparent;
    border: 0;
}

.evolution-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.evolution-img {
    height: 80px;
    margin: 16px;
}

.progress {
    width: 177px;
    margin-left: 20px;
}