.dialog-trigger {
    border: 0;
    margin: 8px;
    width: 200px;
    height: 250px;
    background-color: var(--primary-color);
}

.dialog-trigger-txt {
    display: flex;
}

.dialog-thumbnail {
    width: 100%;
    height: 193px;
}