@media(max-width: 500px) {
    header {
        padding: 32px 8px;
    }
    
    input {
        width: 135px;
    }
}

@media(max-width: 495px) {
    .main-wrapper {
        font-weight: 500;
    }
}